@model VAVS_Client.Classes.TaxCalculation.TaxInfo

@{
    Layout = "_Layout";
}

<div class="card" style="border-radius: 20px;">
    <div class="card-body">
        <p class="mb-2">အခွန်ရုံးမြို့နယ်ရွေးပါ</p>

        <form class="mb-2" action="@Url.Action("SaveTaxTransaction", "TaxCalculation")" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group mt-2">
                        <label class="control-label fw-bold">State/Division</label>
                        <select class="form-control" id="lstStateDivisionId" asp-for="StateDivisionPkid" asp-items="ViewBag.StateDivisions" onchange="FilterStateDivisionByTownship(this, 'lstTownship')" required=""></select>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group mt-2">
                        <label class="control-label fw-bold">Township</label>
                        <select class="form-control" id="lstTownship" asp-for="TownshipPkid" asp-items="ViewBag.Townships" required></select>
                    </div>
                </div>
            </div>
            <div class="mb-2 mt-2 d-flex justify-content-center align-item-center">
                <button class="btn btn-outline-primary d-grid" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
